<!DOCTYPE html>
<html>
<head><% include template/head.ejs %></head>
<body id="<%= pageId %>">
        <% include template/header.ejs %>
    <div class="container">
        <h1><%= pageTitle %></h1>
        <h2>User email: <%= user.email %></h2>
        <h2>User game: <%= user.game %></h2>
    </div><!--container-->
</body>
</html>